### 파이썬 자료형 - 스칼라형

### 스칼라형 
- 숫자, 문자열, boolean, 날짜와 시간 등 내장 자료형 
- 표준 파이썬 스칼라 자료형(None, str, float, bool, int, complex)

#### 문자열
- str 
- 개행문자가 포함된 여러 줄 문자열 '''  '''/ """ """

In [14]:
a  = """
Hello, nice to meet you.
Hello, python.
Hi, what are you doing?
"""
a.replace('\n',' ')

' Hello, nice to meet you. Hello, python. Hi, what are you doing? '

- 문자열 변경 불가

In [1]:
a = 'hi, python'

In [3]:
a[1] = 'q'

TypeError: 'str' object does not support item assignment

In [4]:
b = a.replace('python','Javascript')
b

'hi, Javascript'

- 문자열 변환

In [5]:
a = 4.5
s = str(a)
s

'4.5'

- 문자열은 일련된 글자의 연속, 리스트나 튜플 같은 순차적 자료형과 같이 취급함.

In [6]:
s= 'string'
list(s)

['s', 't', 'r', 'i', 'n', 'g']

In [7]:
s[:3]

'str'

- 이스케이프 문자 역슬래스()
- 이스케이프 코드
    - \n : 줄바꿈
    - \t : 탭
    - \\ : 문자\ 그대로 표현
    - \' : 작은따음표
    - \" : 큰따음표

In [9]:
s = '12\\34'
print(s)

12\34

In [10]:
s = r'nice\to\meet\you'
s

'nice\\to\\meet\\you'

- 두 문자열 이어붙이기  str(a) + str(b)

In [11]:
a = 'hello, nice to meet you.'
b = 'My name is AA.'
a + b

'hello, nice to meet you.My name is AA.'

- 문자열 형식(template)
  
- 문자열 format code
    - %f : 소수점 (%.2f 소수점2자리) 
    - %s : 문자열 
    - %d : 정수
    - %c : 문자1개 
    - %o : 8진수
    - %x : 16진수
    - %% : 문자 '%' 그대로

In [13]:
template = '%.2f %s are worth $%d' 
rate = 4.5560
d = 3
s =' Argentine Pesos'
str(rate*d) + ' '+s+' are worth $' + str(d)
template%(rate*d,s,d)

'13.67  Argentine Pesos are worth $3'

In [14]:
template%(4.5560,'Argentine Pesos',1)

'4.56 Argentine Pesos are worth $1'

In [15]:
print('%.2f %s are worth $%d' %(4.5560,'Argentine Pesos',1))

4.56 Argentine Pesos are worth $1

In [18]:
'{0:0.2f} {1} are worth {2}'.format(4.6330,'USD',1)

'4.63 USD are worth 1'