### 파이썬 자료형 - 순차자료형

### 내장 순차 자료형 함수

sorted
- 정렬된 새로운 순차 자료형 반환

In [91]:
sorted([7,1,5,6,3,9,0,2])

[0, 1, 2, 3, 5, 6, 7, 9]

In [92]:
sorted('jeju island') #띄어쓰기가 가장 앞

[' ', 'a', 'd', 'e', 'i', 'j', 'j', 'l', 'n', 's', 'u']

In [95]:
sorted('qwertyuiopasdfghjklzxcvbnm')

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

zip()
- 두 그룹의 데이터를 서로 엮어주는 파이썬의 내장 함수 zip()
- 여러 개의 iterable 객체를 인자로 받고, 각 객체가 담고 있는 원소를 튜플의 형태로 차례로 접근할 수 있는 반복자(iterator)를 반환

In [2]:
seq1 = ['apple','banana','kiwi']
seq2 = ['one','two','three']

In [4]:
zip(seq1,seq2)

In [5]:
seq3 = [False,True]

In [6]:
zip(seq1,seq2,seq3)

In [11]:
for pair in zip(seq2, seq1):
    print(pair)

('one', 'apple')
('two', 'banana')
('three', 'kiwi')

In [18]:
for i in range(len(seq1)):
    a = (seq2[i],seq1[i])
    print(a)

('one', 'apple')
('two', 'banana')
('three', 'kiwi')

In [9]:
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('%d: %s, %s '%(i,a,b))

0: apple, one
1: banana, two
2: kiwi, three

In [ ]:
reversed
- 순차 자료형 역순으로

In [19]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]